# Projeto Banco de Dados SQLite

Este notebook cria a conexão inicial com o banco SQLite e a estrutura de tabelas.

In [ ]:
# Importando a biblioteca sqlite3
import sqlite3

# Conectando ao banco de dados (arquivo local chamado 'empresa.db')
# Se quiser usar em memória, troque por ':memory:'
conn = sqlite3.connect('empresa.db')
cursor = conn.cursor()

# Ativando as FOREIGN KEYS
cursor.execute("PRAGMA foreign_keys = ON;")

print("Conexão criada e FOREIGN KEYS ativadas.")

In [ ]:
# Criando tabela Departamentos
cursor.execute('''
CREATE TABLE IF NOT EXISTS Departamentos (
    id_departamento INTEGER PRIMARY KEY,
    nome TEXT NOT NULL
)
''')

# Criando tabela Funcionarios
cursor.execute('''
CREATE TABLE IF NOT EXISTS Funcionarios (
    id_funcionario INTEGER PRIMARY KEY,
    nome TEXT NOT NULL,
    cargo TEXT,
    salario REAL,
    id_departamento INTEGER,
    FOREIGN KEY (id_departamento) REFERENCES Departamentos (id_departamento)
)
''')

# Criando tabela Projetos
cursor.execute('''
CREATE TABLE IF NOT EXISTS Projetos (
    id_projeto INTEGER PRIMARY KEY,
    nome TEXT NOT NULL,
    id_funcionario_responsavel INTEGER,
    prazo TEXT,
    FOREIGN KEY (id_funcionario_responsavel) REFERENCES Funcionarios (id_funcionario)
)
''')

conn.commit()
print("Tabelas criadas com sucesso!")