# Projeto de Banco de Dados SQLite

Este notebook cria um banco de dados, insere dados, faz consultas e finaliza com melhorias e comentários detalhados.

In [ ]:

import sqlite3

# Conectando ao banco de dados (arquivo local chamado 'empresa.db')
conn = sqlite3.connect('empresa.db')
cursor = conn.cursor()

# Ativando as FOREIGN KEYS para garantir integridade referencial
cursor.execute("PRAGMA foreign_keys = ON;")
print("Conexão criada e FOREIGN KEYS ativadas.")

## Criação das tabelas

In [ ]:

# Criando tabela Departamentos
cursor.execute('''
CREATE TABLE IF NOT EXISTS Departamentos (
    id_departamento INTEGER PRIMARY KEY,
    nome TEXT NOT NULL
)
''')

# Criando tabela Funcionarios
cursor.execute('''
CREATE TABLE IF NOT EXISTS Funcionarios (
    id_funcionario INTEGER PRIMARY KEY,
    nome TEXT NOT NULL,
    cargo TEXT,
    salario REAL,
    id_departamento INTEGER,
    FOREIGN KEY (id_departamento) REFERENCES Departamentos (id_departamento)
)
''')

# Criando tabela Projetos
cursor.execute('''
CREATE TABLE IF NOT EXISTS Projetos (
    id_projeto INTEGER PRIMARY KEY,
    nome TEXT NOT NULL,
    id_funcionario_responsavel INTEGER,
    prazo TEXT,
    FOREIGN KEY (id_funcionario_responsavel) REFERENCES Funcionarios (id_funcionario)
)
''')

conn.commit()
print("Tabelas criadas com sucesso!")

## Inserção de dados

In [ ]:

# Inserindo departamentos
departamentos = [
    (1, 'Recursos Humanos'),
    (2, 'Tecnologia'),
    (3, 'Financeiro')
]
cursor.executemany("INSERT INTO Departamentos VALUES (?, ?)", departamentos)

# Inserindo funcionários
funcionarios = [
    (1, 'Ana Costa', 'Analista', 3500.00, 2),
    (2, 'Carlos Lima', 'Gerente', 7000.00, 1),
    (3, 'Paula Souza', 'Assistente', 2500.00, 3)
]
cursor.executemany("INSERT INTO Funcionarios VALUES (?, ?, ?, ?, ?)", funcionarios)

# Inserindo projetos
projetos = [
    (1, 'Projeto Alpha', 1, '2025-12-31'),
    (2, 'Projeto Beta', 2, '2025-11-30'),
    (3, 'Projeto Gamma', 3, '2025-10-15')
]
cursor.executemany("INSERT INTO Projetos VALUES (?, ?, ?, ?)", projetos)

conn.commit()
print("Dados inseridos com sucesso!")

## Consultas

In [ ]:

# Consulta simples: Listar todos os funcionários
print("\nLista de Funcionários:")
for row in cursor.execute("SELECT * FROM Funcionarios"):
    print(row)

# Consulta com JOIN: Funcionários + Departamento
print("\nFuncionários com seus Departamentos:")
cursor.execute('''
SELECT Funcionarios.nome, Funcionarios.cargo, Departamentos.nome AS departamento
FROM Funcionarios
JOIN Departamentos ON Funcionarios.id_departamento = Departamentos.id_departamento
''')
for row in cursor.fetchall():
    print(row)

# Consulta com WHERE + ORDER BY
print("\nFuncionários com salário acima de 3000, ordenados por salário DESC:")
cursor.execute('''
SELECT nome, salario FROM Funcionarios
WHERE salario > 3000
ORDER BY salario DESC
''')
for row in cursor.fetchall():
    print(row)

# JOIN dupla: Projetos + Funcionários + Departamentos
print("\nProjetos com seus responsáveis e departamentos:")
cursor.execute('''
SELECT Projetos.nome AS projeto,
       Funcionarios.nome AS responsavel,
       Departamentos.nome AS departamento
FROM Projetos
JOIN Funcionarios ON Projetos.id_funcionario_responsavel = Funcionarios.id_funcionario
JOIN Departamentos ON Funcionarios.id_departamento = Departamentos.id_departamento
''')
for row in cursor.fetchall():
    print(row)

## Finalização

In [ ]:

# Fechando a conexão
conn.close()
print("\nConexão encerrada.")