# Projeto Banco de Dados SQLite - Etapa 4️⃣

**Consultas SELECT Simples e Avançadas**

Este notebook contém consultas simples e avançadas para explorar os dados do banco de dados.

In [ ]:

import sqlite3

# Conectando ao banco de dados
conn = sqlite3.connect('empresa.db')
cursor = conn.cursor()

# Ativando as FOREIGN KEYS
cursor.execute("PRAGMA foreign_keys = ON;")
print("Conexão criada e FOREIGN KEYS ativadas.")

In [ ]:

# Consulta simples: Listar todos os funcionários
print("\nLista de Funcionários:")
for row in cursor.execute("SELECT * FROM Funcionarios"):
    print(row)

In [ ]:

# JOIN Funcionários + Departamento
print("\nFuncionários com seus Departamentos:")
cursor.execute('''
SELECT Funcionarios.nome, Funcionarios.cargo, Departamentos.nome AS departamento
FROM Funcionarios
JOIN Departamentos ON Funcionarios.id_departamento = Departamentos.id_departamento
''')
for row in cursor.fetchall():
    print(row)

In [ ]:

# WHERE + ORDER BY
print("\nFuncionários com salário acima de 3000, ordenados por salário DESC:")
cursor.execute('''
SELECT nome, salario FROM Funcionarios
WHERE salario > 3000
ORDER BY salario DESC
''')
for row in cursor.fetchall():
    print(row)

In [ ]:

# JOIN dupla: Projetos + Funcionários + Departamentos
print("\nProjetos com seus responsáveis e departamentos:")
cursor.execute('''
SELECT Projetos.nome AS projeto,
       Funcionarios.nome AS responsavel,
       Departamentos.nome AS departamento
FROM Projetos
JOIN Funcionarios ON Projetos.id_funcionario_responsavel = Funcionarios.id_funcionario
JOIN Departamentos ON Funcionarios.id_departamento = Departamentos.id_departamento
''')
for row in cursor.fetchall():
    print(row)